<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Comment Details</title>
    <link rel="stylesheet" href="/styles.css" />
  </head>
  <body>
    <h1>Comment Details</h1>
    <div>
      <h3>Comment by <%= comment.username %></h3>
      <p><%= comment.comment %></p>
    </div>
    <a href="/comments">Back to Comments</a>
  </body>
</html>
