main {
    width: 60%;
    margin: 0 auto;
}
section button{
    color: #fefae0;
    background-color: #283618;
    margin-top: 5px;
    border-radius: 5px;
    
}

section button:hover{
    background-color: #606c38;
}

.tag{
    background-color: #fdf0d5;
    border-radius: 5px;
    padding: 0px 5px;
}

a{
    text-decoration: none;
    color: #ad2831;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

section{
    background-color: #cad2c5;
    /* border: 1px solid #344e41; */
    /* border-radius: 5%; */
    padding-top: 5px;
    padding-left: 5px;
    border-left: 5px solid #344e41;
    /* background-color: rgba(202, 210, 197, 0,5); */
}

section:nth-of-type(2n){
    background-color: #84a98c;
}

h2{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: normal;
}

nav{
    padding-top: 10px;
    padding-bottom:20px;
    border-bottom: 1px solid #283618;
}

#logo_kucheng{
    width: 100px;
    height: auto;
    display: inline;
}

#signup{
    display: inline;
}


#subheader{
    font-size: 0.5em;
}

.header-container {
  display: flex;
  align-items: center;
  gap: 15px;
  padding: 5px;
  background-image: url('img/windows.jpg'), url('img/apple.png');
  background-position: center;
  font-family: 'Montserrat';
}

.title-container {
    display: flex;
    flex-direction: column;
}

#title-header {
  margin: 0 0 0px;
  font-weight: bold;
  font-size: 50px;
}

#title-subheader {
  font-size: 1.5rem;
  color: black;
  margin: 5px 0 0;
}

.sponsor-container{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
}

.sponsor{
    width: 100px;
    height: 100px;
    /* background-color: #344e41;
    border: 2px solid black; */
    margin: 10px;
    display: inline-block;
    align-items: center;
}

#sponsor-title{
    font-size: 1rem;
    font-family: Arial, sans-serif;
    color: #283618;
    margin: 5px 0 10px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.sponsor-logo{
    width: 100px;
    height: 100px;
    display: inline;
    /* margin: calc(100%/11); */
}

.sponsor-logo:hover{
    transform: scale(1.2); 
    box-shadow: 0 0.5em 0.5em -0.4em #283618;
    transform: translateY(-0.2em);
    cursor: pointer;
}

