<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
  </head>
  <body>
    <h1>Home Page</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Pariatur
      blanditiis hic vero ex a id sint, ducimus, necessitatibus eligendi
      reiciendis cumque esse totam dignissimos autem. Sequi numquam neque minima
      sit! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Magni
      distinctio molestiae facere quo recusandae maxime dolorem magnam nemo
      porro maiores dolor mollitia qui corrupti eligendi eveniet blanditiis ex,
      autem quis?
    </p>
  </body>
</html>
