<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Random Number Generator</title>
  </head>
  <body>
    <h1>Random Number Generator</h1>
    <h2>Your random number is : <%= rand %></h2>
    <h3>The <%= rand %> is <%= (rand % 2 === 0 ? 'even' : 'odd') %></h3>
  </body>
</html>
